body {
  margin: 0;
  padding: 0;
}

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.social {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 80%;
}

.social__item {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  transition: all 0.5s;
}

.link {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.telegram:hover {
  border-color: #0088cc;
  box-shadow: 0px 0px 15px #0088cc, 0px 0px 50px #0088cc, 0px 0px 100px #0088cc;
  transform: scale(1.2);
}
.telegram:hover .link {
  color: #0088cc;
  transform: scale(1.3);
  transition: 0.5s;
}

.instagram:hover {
  border-color: #c13584;
  box-shadow: 0px 0px 15px #c13584, 0px 0px 50px #c13584, 0px 0px 100px #c13584;
  transform: scale(1.2);
}
.instagram:hover .link {
  color: #c13584;
  transform: scale(1.3);
  transition: 0.5s;
}

.facebook:hover {
  border-color: #1877f2;
  box-shadow: 0px 0px 15px #1877f2, 0px 0px 50px #1877f2, 0px 0px 100px #1877f2;
  transform: scale(1.2);
}
.facebook:hover .link {
  color: #1877f2;
  transform: scale(1.3);
  transition: 0.5s;
}

.whatsapp:hover {
  border-color: #25d366;
  box-shadow: 0px 0px 15px #25d366, 0px 0px 50px #25d366, 0px 0px 100px #25d366;
  transform: scale(1.2);
}
.whatsapp:hover .link {
  color: #25d366;
  transform: scale(1.3);
  transition: 0.5s;
}

.discord:hover {
  border-color: #5865f2;
  box-shadow: 0px 0px 15px #5865f2, 0px 0px 50px #5865f2, 0px 0px 100px #5865f2;
  transform: scale(1.2);
}
.discord:hover .link {
  color: #5865f2;
  transform: scale(1.3);
  transition: 0.5s;
}

.youtube:hover {
  border-color: #ff0000;
  box-shadow: 0px 0px 15px #ff0000, 0px 0px 50px #ff0000, 0px 0px 100px #ff0000;
  transform: scale(1.2);
}
.youtube:hover .link {
  color: #ff0000;
  transform: scale(1.3);
  transition: 0.5s;
}
.google:hover {
  border-color: #fbbc05;
  box-shadow: 0px 0px 15px #fbbc05, 0px 0px 50px #fbbc05, 0px 0px 100px #fbbc05;
  transform: scale(1.2);
}
.google:hover .link {
  color: #fbbc05;
  transform: scale(1.3);
  transition: 0.5s;
}
.amazon:hover {
  border-color: #ff9900;
  box-shadow: 0px 0px 15px #ff9900, 0px 0px 50px #ff9900, 0px 0px 100px #ff9900;
  transform: scale(1.2);
}
.amazon:hover .link {
  color: #ff9900;
  transform: scale(1.3);
  transition: 0.5s;
}
.apple:hover {
  border-color: white;
  box-shadow: 0px 0px 15px white, 0px 0px 50px white, 0px 0px 100px white;
  transform: scale(1.2);
}
.apple:hover .link {
  color: white;
  transform: scale(1.3);
  transition: 0.5s;
}
.ebay:hover {
  border-color: #e53238;
  box-shadow: 0px 0px 15px #e53238, 0px 0px 50px #e53238, 0px 0px 100px #e53238;
  transform: scale(1.2);
}
.ebay:hover .link {
  color: #e53238;
  transform: scale(1.3);
  transition: 0.5s;
}
